@import url("root.css");
@import url("reset.css");

body {
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;

  color: var(--color-title);

  background-color: var(--bg-body);
}

a:hover, button:hover {
  transition: color 0.3s ease;
  cursor: pointer;
  text-decoration-thickness: 2px;
  filter: brightness(0.9);
}
